#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <13 14>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <13 14 15>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <21 22>;
        };

        mouseL {
            bindings = <&mkp LCLK>;
            key-positions = <33 34>;
        };

        mouseR {
            bindings = <&mkp RCLK>;
            key-positions = <34 35>;
        };

        mouseM {
            bindings = <&mkp MCLK>;
            key-positions = <33 35>;
        };

        back {
            bindings = <&mkp MB4>;
            key-positions = <18 19>;
        };

        forward {
            bindings = <&mkp MB5>;
            key-positions = <32 33>;
        };

        curveL {
            bindings = <&kp LS(NUMBER_8)>;
            key-positions = <17 29>;
        };

        curveR {
            bindings = <&kp LS(NUMBER_9)>;
            key-positions = <18 32>;
        };

        dclick {
            bindings = <&dclick>;
            key-positions = <33 34 35>;
        };

        dclick2 {
            bindings = <&dclick>;
            key-positions = <33 19>;
        };
    };

    macros {
        dclick: dclick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &mkp LCLK>;
            label = "DCLICK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none             &none     &none     &none                           &none                                                &none        &none    &none      &none    &none                 &none
&none  &kp Q             &kp W     &kp E     &kp R                           &kp T                                                &kp Y        &kp U    &kp I      &kp O    &kp P                 &none
&none  &kp A             &kp S     &kp D     &kp F                           &kp G        &none                  &none            &kp H        &lt 5 J  &lt 5 K    &lt 5 L  &kp MINUS             &none
&none  &mt Z LEFT_SHIFT  &kp X     &kp C     &kp V                           &kp B        &lt 3 RIGHT_BRACKET    &lt 6 BACKSLASH  &kp N        &kp M    &kp COMMA  &kp DOT  &mt RIGHT_SHIFT FSLH  &none
&none  &kp LCTRL         &kp LGUI  &kp LALT  &mt LEFT_SHIFT INTERNATIONAL_5  &lt 1 SPACE  &lt 0 INTERNATIONAL_4  &kp BACKSPACE    &lt 1 ENTER  &none    &none      &none    &to 4                 &none
            >;
        };

        Num_Arrow {
            bindings = <
&trans  &trans                &trans                  &trans                  &trans        &trans                                            &trans         &trans    &trans         &trans     &trans                   &trans
&trans  &kp NUMBER_1          &kp NUMBER_2            &kp NUMBER_3            &kp NUMBER_4  &kp N5                                            &kp PAGE_UP    &kp HOME  &kp UP         &kp END    &kp LEFT_BRACKET         &trans
&trans  &kp NUMBER_6          &kp NUMBER_7            &kp NUMBER_8            &kp NUMBER_9  &kp NUMBER_0  &trans            &trans            &kp PAGE_DOWN  &kp LEFT  &kp DOWN       &kp RIGHT  &kp LS(INTERNATIONAL_1)  &trans
&trans  &mt LEFT_SHIFT MINUS  &mt LEFT_CONTROL EQUAL  &mt LEFT_ALT LS(EQUAL)  &none         &none         &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &none          &none     &kp SEMICOLON  &kp SQT    &kp INTERNATIONAL_1      &trans
&trans  &trans                &trans                  &trans                  &trans        &trans        &trans            &trans            &trans         &trans    &trans         &trans     &kp LS(INTERNATIONAL_3)  &trans
            >;
        };

        Function_Num {
            bindings = <
&trans  &trans   &trans   &trans  &trans  &trans                                               &trans         &trans        &trans        &trans        &trans             &trans
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                                               &kp LS(MINUS)  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp LS(SEMICOLON)  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &trans                 &trans             &kp TAB        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS          &trans
&trans  &kp F11  &kp F12  &none   &none   &none      &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)  &kp NUMBER_0   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LS(SQT)        &trans
&trans  &trans   &trans   &trans  &trans  &kp SPACE  &trans                 &trans             &kp ENTER      &trans        &trans        &trans        &kp SLASH          &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &mkp MB5  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB4  &mkp MB1  &mkp MB3  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans    &to 0   &trans
            >;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &none   &none   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans
&trans  &trans  &trans  &trans  &trans  &trans                        &trans        &trans        &trans        &trans        &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans        &trans        &trans        &trans        &bt BT_CLR      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &out OUT_BLE  &out OUT_USB  &trans        &trans        &trans        &bt BT_CLR_ALL  &trans
            >;
        };
    };
};
